.fifth {
    border-color:  white !important;
    color: white !important;
    border-radius: 0;
    color:  #009246 !important;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;
  }
  .fifth:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 100%;
    background:  #009246;
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
  }
  .fifth:hover {
    color: #fff;
  }
  .fifth:hover:after {
    width: 110%;
  }
  
  