body{
    margin: 0 .7rem 0 .7rem !important;
}

* {
    padding: 0;
    margin: 0;
}

h1,
h2,
h5 {
    font-family: 'Cinzel', serif !important;
}

p,
ul,
a {
    font-family: 'PT Serif', serif;
}

.header {
    background: linear-gradient(to left, #009246, white 85%);
    font-size: 1.5rem;
}

.logo {
    width: 80px;
}

.section-1,
.section-2,
.section-4 {

    margin: 0 !important;
    padding: 0 !important;



}

/* -------------seccion 1----------------- */
.section-1 {

    background-color: #ce2b37;
    height: 50rem;
    
}

.imagen-titulo {
    border-radius: 50% 5% 5% 50%;
}

h1 {
    font-size: 5rem !important;
}

h2 {
    font-size: 3rem !important;
    font-weight: lighter;
}

.titulo {

    color: white;
}

.boton-entrar {
    background-color: #009246;
    margin: 1.5rem;
    color: white !important;
    font-size: 1.2rem;
    padding: 0.5 1rem 0.5 1rem;
    width: 7rem;
    height: 3rem;
    border: none;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}



/* ---------------articulo 2---------------- */
.section-2 {
    margin-bottom: 5rem !important;
    padding: 20px !important;
}


/* -------------------seccion 3 pizzas----------------------------- */

.subtitulo-2 {
    background-image: url("https://images.unsplash.com/photo-1579751626657-72bc17010498?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aG9ybm8lMjBwYXJhJTIwcGl6emFzfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
    background-size: cover;
    color: white;
    height: 15vh;
}

.informacion {
    height: 80vh;
}
/*------------- tarjetas--------------- */
.tarjeta-pizza{
    max-width: 40rem;
    min-height: 28rem;
    max-height: 33rem;
}
.tarjeta-nosotros {
    width: 25rem;
}

/* -------------------------------------seccion 4 nosotros -------------------------*/

.section-4 {
    background-color: rgb(206, 43, 55);
    color: white;
}

/* -------footer----------- */
footer a {
    text-decoration: none;
    color: black;
}

footer p {
    color: rgb(0, 0, 117);
}

/* ---------------------------ajuste de responsive--------------------- */
@media (max-width:576px) {
    h1 {
        font-size: 2rem !important;
    }
    .section-1{
        height: 15rem;
    }

    .my-boton-1 {
        display: none;
    }
}

@media (max-width:780px) {
    h1 {
        font-size: 2rem !important;
    }
    .section-1{
        height: 15rem;
    }

    .my-boton-1 {
        display: none;
    }
}
@media (max-width:1025px) {
    h1 {
        font-size: 2rem !important;
    }
    .section-1{
        height: 25rem;
        margin-top: 30rem !important;
    }

    .my-boton-1 {
        display: none;
    }
}
